@using System.Threading
@using Zakar.Common

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Loveworld Partners | @ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
        {@RenderSection("Styles", required: false)}
     
    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />

    <!-- Primary Inspinia style -->     
    @Styles.Render("~/font-awesome/css")                                                
    @Styles.Render("~/Content/css")
    <link href="~/Content/themes/bui/AwesomeMvc.css" rel="stylesheet" />
	<!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
    <script src="~/Scripts/json2.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery_ui.js"></script>
</head>
<body>

    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" >

        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->

 

    </div>
    <!-- End wrapper-->

    <!-- Section for main scripts render -->
    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    <script src="~/Scripts/validate.js"></script>
    <script src="~/Scripts/unobstrusive.js"></script>
    <script src="~/Scripts/AwesomeMvc.js"></script>
    <script src="~/Scripts/Site.js"></script>
    @RenderSection("scripts", required: false)
    
    <script>
        var root = '@Url.Content("~")';
        var popupMod = 'bootstrap';
        var isMobileOrTablet = '@Utils.IsMobileOrTablet()' == "True";
            var dateFormat = '@AweUtil.ConvertTojQueryDateFormat(Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern)';
        init(dateFormat, isMobileOrTablet);
        $(function () { documentReady(root, popupMod); });
        $.fn.bootstrapBtn = $.fn.button.noConflict();
    </script>

</body>
</html>
