@using Zakar.Common
@using Zakar.Common.Enums

@{
    var isAuthenticated = User.Identity.IsAuthenticated;
}

@if (isAuthenticated)
{
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    @if (isAuthenticated)
                    {
                        <div class="dropdown profile-element">


                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">@User.Identity.Name</strong>
                                        @if (User.IsInRole(RolesEnum.CHAPTER_ADMIN.ToString()))
                                        {
                                            <span class="text-muted text-xs block">Chapter Admin<b class="caret"></b></span>
                                        }
                                        else if (User.IsInRole(RolesEnum.GROUP_ADMIN.ToString()))
                                        {
                                            <span class="text-muted text-xs block">Group Admin<b class="caret"></b></span>
                                        }
                                        else if (User.IsInRole(RolesEnum.ZONE_ADMIN.ToString()))
                                        {
                                            <span class="text-muted text-xs block">Zonal Admin<b class="caret"></b></span>
                                        }
                                        else if (User.IsInRole(RolesEnum.PORTAL_ADMIN.ToString()))
                                        {
                                            <span class="text-muted text-xs block">Portal Admin<b class="caret"></b></span>
                                        }
                                    </span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="@Url.Action("ChangePassword", "Manage")">Change Password</a></li>

                            </ul>
                        </div>
                    }

                    <div class="logo-element">
                        LW+
                    </div>
                </li>
                @*   @if (User.IsInRole(RolesEnum.PORTAL_ADMIN.ToString()))
                    {
                *@
                <li class="@Html.IsSelected(controller: "Setup")">
                    <a href="#"><i class="fa fa-wrench"></i> <span class="nav-label">Portal Setup</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "ZoneIndex")"><a href="@Url.Action("ZoneIndex", "Setup")">Zones</a></li>
                        <li class="@Html.IsSelected(action: "GroupIndex")"><a href="@Url.Action("GroupIndex", "Setup")">Groups</a></li>
                        <li class="@Html.IsSelected(action: "ChapterIndex")"><a href="@Url.Action("ChapterIndex", "Setup")">Chapters</a></li>
                        <li class="@Html.IsSelected(action: "ArmIndex")"><a href="@Url.Action("ArmIndex", "Setup")">Partnership Arms</a></li>
                        <li class="@Html.IsSelected(action: "CurrencyIndex")"><a href="@Url.Action("CurrencyIndex", "Setup")">Currencies</a></li>
                    </ul>
                </li>

                <li class="@Html.IsSelected(controller: "BulkUpload")">
                    <a href="#"><i class="fa fa-upload"></i> <span class="nav-label">Batch Setup</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "Zone")"><a href="@Url.Action("Zone", "BulkUpload")">Zones</a></li>
                        <li class="@Html.IsSelected(action: "Group")"><a href="@Url.Action("Group", "BulkUpload")">Groups</a></li>
                        <li class="@Html.IsSelected(action: "Chapter")"><a href="@Url.Action("Chapter", "BulkUpload")">Chapters</a></li>

                    </ul>
                </li>

                <li class="@Html.IsSelected(controller: "Users")">
                    <a href="#"><i class="fa fa-user-md"></i> <span class="nav-label">Users</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "PortalAdmins")"><a href="@Url.Action("PortalAdmins", "Users")">Portal Admins</a></li>
                        <li class="@Html.IsSelected(action: "ZoneAdmins")"><a href="@Url.Action("ZoneAdmins", "Users")">Zone Admins</a></li>
                        <li class="@Html.IsSelected(action: "GroupAdmins")"><a href="@Url.Action("GroupAdmins", "Users")">Group Admins</a></li>
                        <li class="@Html.IsSelected(action: "ChapterAdmins")"><a href="@Url.Action("ChapterAdmins", "Users")">Chapter Admins</a></li>
                    </ul>
                </li>
                @*  }
                *@
                @if (User.IsInRole(RolesEnum.CHAPTER_ADMIN.ToString()))
                {
                    <li class="@Html.IsSelected(controller: "PCFSetup")">
                        <a href="#"><i class="fa fa fa-wrench"></i><span class="nav-label">PCF Setup</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "PCFSetup")">Manage PCFs</a></li>
                            <li class="@Html.IsSelected(action: "Bulk")"><a href="@Url.Action("Bulk", "PCFSetup")">Bulk Upload PCFs</a></li>
                        </ul>
                    </li>

                    <li class="@Html.IsSelected(controller: "CellSetup")">
                        <a href="#"><i class="fa fa fa-wrench"></i><span class="nav-label">Cell Setup</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "CellSetup")">Manage Cells</a></li>
                            <li class="@Html.IsSelected(action: "Bulk")"><a href="@Url.Action("Bulk", "CellSetup")">Bulk Upload Cells</a></li>
                        </ul>
                    </li>


                    <li class="@Html.IsSelected(controller: "Partners")">
                        <a href="#"><i class="fa fa-users"></i><span class="nav-label">Partners</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

                            <li class="@Html.IsSelected(action: "Bulk")"><a href="@Url.Action("Bulk", "Partner")">Upload Partners</a></li>
                            <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Partner")">Manage Partners</a></li>
                        </ul>
                    </li>
                }

                <li class="@Html.IsSelected(controller: "Partnership")">
                    <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">Partnership Records</span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "New")"><a href="@Url.Action("New", "Partnership")">New Partnership Record</a></li>
                        <li class="@Html.IsSelected(action: "Bulk")"><a href="@Url.Action("Bulk", "Partnership")">Bulk Upload Partnership Records</a></li>
                        <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Partnership")">Manage Partnership Records</a></li>
                    </ul>
                </li>
                @if (User.IsInRole(RolesEnum.CHAPTER_ADMIN.ToString()))
                {
                    <li class="@Html.IsSelected(controller: "ChurchReports")">
                        <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Reports</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected(action: "NoCurrencyYearlySummary")"><a href="@Url.Action("NoCurrencyYearlySummary", "ChurchReports")">Yearly Summary (Local Currency)</a></li>
                            <li class="@Html.IsSelected(action: "YearlySummary")"><a href="@Url.Action("YearlySummary", "ChurchReports")">Summary (Year)</a></li>
                            <li class="@Html.IsSelected(action: "NoCurrencySummary")"><a href="@Url.Action("NoCurrencySummary", "ChurchReports")">Summary (Local Currency)</a></li>
                            <li class="@Html.IsSelected(action: "Summary")"><a href="@Url.Action("Summary", "ChurchReports")">Summary</a></li>
                        </ul>
                    </li>
                }
                

                @if (User.IsInRole(RolesEnum.GROUP_ADMIN.ToString()))
                {
                    <li class="@Html.IsSelected(controller: "GroupReports")">
                        <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Reports</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected(action: "NoCurrencyYearlySummary")"><a href="@Url.Action("NoCurrencyYearlySummary", "GroupReports")">Search results</a></li>
                            <li class="@Html.IsSelected(action: "YearlySummary")"><a href="@Url.Action("YearlySummary", "GroupReports")">Lockscreen</a></li>
                            <li class="@Html.IsSelected(action: "NoCurrencySummary")"><a href="@Url.Action("NoCurrencySummary", "GroupReports")">Invoice</a></li>
                            <li class="@Html.IsSelected(action: "Summary")"><a href="@Url.Action("Summary", "GroupReports")">Login</a></li>
                        </ul>
                    </li>
                }
                
                
                @if (User.IsInRole(RolesEnum.ZONE_ADMIN.ToString()))
                {
                    <li class="@Html.IsSelected(controller: "ZoneReports")">
                        <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Reports</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected(action: "NoCurrencyYearlySummary")"><a href="@Url.Action("NoCurrencyYearlySummary", "ZoneReports")">Search results</a></li>
                            <li class="@Html.IsSelected(action: "YearlySummary")"><a href="@Url.Action("YearlySummary", "ZoneReports")">Lockscreen</a></li>
                            <li class="@Html.IsSelected(action: "NoCurrencySummary")"><a href="@Url.Action("NoCurrencySummary", "ZoneReports")">Invoice</a></li>
                            <li class="@Html.IsSelected(action: "Summary")"><a href="@Url.Action("Summary", "ZoneReports")">Login</a></li>
                        </ul>
                    </li>
                }
                
                @if (User.IsInRole(RolesEnum.PORTAL_ADMIN.ToString()))
                {
                    <li class="@Html.IsSelected(controller: "Reports")">
                        <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Reports</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected(action: "NoCurrencyYearlySummary")"><a href="@Url.Action("NoCurrencyYearlySummary", "Reports")">Search results</a></li>
                            <li class="@Html.IsSelected(action: "YearlySummary")"><a href="@Url.Action("YearlySummary", "Reports")">Lockscreen</a></li>
                            <li class="@Html.IsSelected(action: "NoCurrencySummary")"><a href="@Url.Action("NoCurrencySummary", "Reports")">Invoice</a></li>
                            <li class="@Html.IsSelected(action: "Summary")"><a href="@Url.Action("Summary", "Reports")">Login</a></li>
                        </ul>
                    </li>
                }

             
            </ul>
        </div>
    </nav>
}
