@using Zakar.Common

@{
    ViewBag.Title = "Zone Staging Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var modelExists = ViewBag.ModelExists is bool && (bool) ViewBag.ModelExists;
}

@Html.Awe().InitPopupForm().Name("deleteZone").Url(Url.Action("ZoneDelete","BulkUpload")).Title("Confirm Delete").Success("refreshGrid('grdZone')").OkText("Delete").CancelText("Cancel").Parameter("gridId","grdZone")
@Html.Awe().InitPopupForm().Name("editZone").Url(Url.Action("ZoneCreate", "BulkUpload")).Title("Move From Staging Area").Success("refreshGrid('grdZone')").OkText("Add To Zone").CancelText("Cancel")
@Html.Partial("_headerPartial")

<div class="wrapper wrapper-content">
    <div class="ibox ibox-content float-e-margins">
        <div class="panel">
            <div class="panel-body">
                @if (modelExists)
                {
                    @Html.Awe().Grid("grdZone").Url(Url.Action("ZoneRead","BulkUpload")).ShowGroupBar(false).Columns(
                        new Column(){Name = "UniqueId", Header = "Unique Id", Width = 100},
                        new Column(){Name = "Name", Header = "Zone Name"},
                        new Column(){ClientFormat = @Utils.EditFormat("editZone"), Width = 80},
                        new Column(){ClientFormat = @Utils.DeleteFormat("deleteZone"), Width = 80})
                }
                else
                {
                    <div class="well">
                        <h3>Sorry</h3>
                        You have nothing staged from processing.
                        <br/>
                        <br/>
                        <a href="@Url.Action("Zone","BulkUpload")" class="btn btn-primary">Upload Zones</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>