@using Zakar.Common

@{
    ViewBag.Title = "Manage Chapter Admins";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userExists = ViewBag.UserExists is bool && (bool)ViewBag.UserExists;
    
}

@Html.Partial("_headerPartial")
@Html.Awe().InitPopupForm().Name("deleteAdmin").Url(Url.Action("Delete","Setup")).Group("ChapterAdmin").Modal(true).Title("Delete Chapter Admin").Success("refreshGrid('grdUser')")
@Html.Awe().InitPopup().Name("detailsAdmin").Url(Url.Action("ChapterAdminDetails","Setup")).Group("ChapterAdmin").Modal(true).Title("Chapter Admin Details")

<br/>
<br/>

@if (userExists)
{
    @Html.Awe().InitPopupForm().Name("createUser").Url(Url.Action("ChapterAdminCreate", "Users")).Group("Arm").Modal(true).Title("New Chapter Admin").Success("refreshGrid('grdUser')")
    <button type="button" class="btn btn-primary" onclick="awe.open('createUser')" >
        New Chapter Admin
        <i class="fa fa-user-plus"></i>
    </button>
    <br/>
    <br/>     <br/>
    <br/>      
    @Html.Awe().Grid("grdUser").Groupable(false).Parent("txtUsername", "username").ClientKey("UserName").Parent("txtName","name").Parent("txtPhoneNumber","phone").Parent("txtChapterName","chapter").Groupable(false).LoadOnParentChange(true).Url(Url.Action("ChapterAdminRead","Users")).ShowFooter(true).Columns(
        new Column(){Name = "FirstName", Header = "First Name"},
        new Column(){Name = "LastName", Header = "Last Name"},
        new Column(){Name = "PhoneNumber", Header = "Phone Number"},
        new Column(){Name = "UserName", Header = "Username"},
        new Column(){Width = 60, ClientFormat = "<button type='button' rel='tooltip' title = 'Delete Record'  class='btn btn-primary' onclick=\"awe.open('deleteAdmin', { params:{ id: .UserName } })\"><i class='fa fa-trash'></i></button>"},
        new Column(){Width = 60, ClientFormat = @Utils.DetailsFormat("detailsAdmin")})

   
}
else
{
        @Html.Awe().InitPopupForm().Name("createUser").Url(Url.Action("ChapterAdminCreate", "Users")).Group("Arm").Modal(true).Title("New Chapter Admin").RefreshOnSuccess(true)
     <div class="well">
                <h3>Sorry</h3>
                There is nothing to display
                <br/>
                <br/>
                <button type="button" class="btn btn-primary" onclick="awe.open('createUser')" >
                    New Chapter Admin
                    <i class="fa fa-user-plus"></i>
                </button>
            </div>
}

