@model Zakar.ViewModels.CurrencyViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Name, new{@class="control-label"})
    @Html.TextBoxFor(M => M.Name, new {@class="form-control"})
    <small class="text-danger">
        @Html.ValidationMessageFor(m => m.Name)
    </small>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Symbol, new{@class="control-label"})
    <br/>
    @Html.TextBoxFor(m => m.Symbol, new{@class="form-control"})
    <small class="text-danger">
        @Html.ValidationMessageFor(m => m.Symbol)
    </small>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ConversionRateToDefault, new{@class="control-label"})
    <br/>
    @Html.TextBoxFor(m => m.ConversionRateToDefault, new{@class="form-control"})
    <small class="text-danger">
        @Html.ValidationMessageFor(m => m.ConversionRateToDefault)
    </small>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.IsDefaultCurrency, new{@class="control-label col-lg-4"})
    <div class="col-lg-8">
       @Html.CheckBoxFor(m => m.IsDefaultCurrency, new{@class="i-checks"})
    </div>
</div>