@model Zakar.ViewModels.GroupAdminRegisterModel
<div class="form-group">
    @Html.LabelFor(m => m.Username, new{@class="control-label"})
    @Html.TextBoxFor(m => m.Username, new{@class="form-control"})
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Password, new{@class="control-label"})
    @Html.PasswordFor(m => m.Password, new{@class="form-control"})
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPassword, new{@class="control-label"})
    @Html.PasswordFor(m => m.ConfirmPassword, new{@class="form-control"})
</div>


<div class="form-group">
    @Html.LabelFor(m => m.FirstName, new{@class="control-label"})
    @Html.TextBoxFor(m => m.FirstName, new{@class="form-control"})
</div>


<div class="form-group">
    @Html.LabelFor(m => m.LastName, new{@class="control-label"})
    @Html.TextBoxFor(m => m.LastName, new{@class="form-control"})
</div>


<div class="form-group">
    @Html.LabelFor(m => m.PhoneNumber, new{@class="control-label"})
    @Html.TextBoxFor(m => m.PhoneNumber, new{@class="form-control"})
</div>


<div class="form-group">
    @Html.LabelFor(m => m.GroupId, new{@class="control-label"})
    @Html.Awe().LookupFor(m => m.GroupId).GetItemUrl(Url.Action("GetItem","GroupLookup")).SearchUrl(Url.Action("Search","GroupLookup")).Modal(true)
</div>