@model Zakar.ViewModels.GroupViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Name, new{@class="control-label"})
    @Html.TextBoxFor(M => M.Name, new {@class="form-control"})
    <small class="text-danger">
        @Html.ValidationMessageFor(m => m.Name)
    </small>

</div>
    <div class="form-group">
        @Html.LabelFor(m => m.ZoneId, new{@class="control-label"})
        <br/>
        @Html.Awe().AjaxDropdownFor(m => m.ZoneId).Url(Url.Action("GetZones", "AjaxList")).HtmlAttributes(new{@class="form-control"})
        <small class="text-danger">@Html.ValidationMessageFor(m => m.ZoneId)</small>
    </div>

