@model Zakar.ViewModels.ZonalAdminRegisterModel
<div class="form-group">
    @Html.LabelFor(m => m.Username, new{@class="control-label"})
    @Html.TextBoxFor(m => m.Username, new{@class="form-control"})
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Password, new{@class="control-label"})
    @Html.PasswordFor(m => m.Password, new{@class="form-control"})
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPassword, new{@class="control-label"})
    @Html.PasswordFor(m => m.ConfirmPassword, new{@class="form-control"})
</div>


<div class="form-group">
    @Html.LabelFor(m => m.FirstName, new{@class="control-label"})
    @Html.TextBoxFor(m => m.FirstName, new{@class="form-control"})
</div>


<div class="form-group">
    @Html.LabelFor(m => m.LastName, new{@class="control-label"})
    @Html.TextBoxFor(m => m.LastName, new{@class="form-control"})
</div>


<div class="form-group">
    @Html.LabelFor(m => m.PhoneNumber, new{@class="control-label"})
    @Html.TextBoxFor(m => m.PhoneNumber, new{@class="form-control"})
</div>


<div class="form-group">
    @Html.LabelFor(m => m.ZoneId, new{@class="control-label"})
    @Html.Awe().LookupFor(m => m.ZoneId).GetItemUrl(Url.Action("GetItem","ZoneLookup")).SearchUrl(Url.Action("Search","ZoneLookup")).Modal(true)
</div>
